<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<application tools:ignore="MissingApplicationIcon"
		android:memtagMode="sync"
		android:gwpAsanMode="always"
		android:requestLegacyExternalStorage="true"
		tools:targetApi="s">
		<activity
			android:name="com.android.development.MediaScannerActivity"
			android:label="SD Exploder"
			android:icon="@drawable/ic_launcher2"
			android:launchMode="singleInstance"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>